.walletContainer {
    border: 1px solid var(--eerieBlack);

    & h2 {
        color: var(--eerieBlack);

        & i {
            cursor: pointer;
        }
    }

    & .breakContainer {
        & hr {
            width: 90%;
        }
    }
}