/* # RMIT University Vietnam
// # Course: COSC2769 - Full Stack Development
// # Semester: 2025B
// # Assessment: Assignment 02
// # Author: Your Names (e.g. Nguyen Van Minh)
// # ID: Your Student ID (e.g. 1234567) */
/* Define Fonts styling, Animations... here */
:root {
    /* Color Palette */
    --eerieBlack: rgb(35, 38, 41);
    --eerieBlackHover: rgba(35, 38, 41, 0.3);
    --goldenrod: rgb(218, 165, 32);
    --goldenrodHover: rgba(218, 165, 32, 0.3);
    --success: rgb(9, 129, 74);
    --danger: rgb(239, 35, 60);
}