.productDetailPrice {
    color: var(--goldenrod);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.relatedProducts::-webkit-scrollbar {
    height: 0.5rem;
    background-color: lightgray;
    border-radius: 0.25rem;
}

.relatedProducts::-webkit-scrollbar-thumb {
    background-color: var(--goldenrod);
    border-radius: 0.25rem;
}