/* // # RMIT University Vietnam
// # Course: COSC2769 - Full Stack Development
// # Semester: 2025B
// # Assessment: Assignment 02
// # Author: Nguyen Trong Nhan
// # ID: s3975356 */
footer {
  background-color: var(--eerieBlack);
  color: white;

  & .brandName {
    text-decoration: none;
    color: white;
    align-self: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  & .socialsContainer {
    & a {
      text-decoration: none;

      & button {
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--eerieBlack);
        border: 1px solid white;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        & i {
          color: white;
          transition: all 0.3s ease-in-out;
        }
      }

      & button:hover {
        border: 1px solid var(--goldenrod);
        background-color: white;

        & i {
          color: var(--goldenrod);
        }
      }
    }
  }
}
